---
import '@fontsource-variable/roboto-mono'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Home from '../components/Home.astro'
import Image from 'astro/components/Image.astro';
import cody from '../images/cody.png';


---

<Layout title="Welcome to Cody's Portfolio.">
	
	<main class="">
		<Home />
	</main>
</Layout>

<style>
	html, body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    main {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
</style>
